* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    padding: 2rem;
    box-shadow: 0 5px #eaf4f4;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul a {
    margin-left: 2rem;
    font-weight: bold;
}

.nav-item {
    color: #023e8a;
    text-decoration: none;
}

.nav-item:hover{
    color: #0077b6;
}

main {
    padding: 1rem;
}

.imagem-redimensionada {
    width: 25%;
    height: auto;
}

footer {
    background-color: #023e8a;
    padding: 1rem;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    box-shadow: 0 -5px #eaf4f4;
}

footer a{
    text-decoration: none;
    
    color: white;
}

.fa-linkedin {
    font-size: 2em;
  }

  .fa-instagram {
    font-size: 2em;
  }
  